/* custom properties */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --activation-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-color-bg: #2f303a;
  --block-spacing: 94px;
}
/* utilities */
ul {
  list-style: none;
}
h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
.hide-text {
  visibility: hidden;
}
/* page */
body {
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 1);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}
/* container */
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* main navi */
.main-nav {
  display: flex;
}
.site-nav {
  display: flex;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}

/* logo */
.logo {
  display: block;
  color: var(--activation-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 24px;
  margin-right: 93px;
}

.logo-head {
  color: rgba(33, 33, 33, 1);
}

/* site-nav */
.item {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.item + .item {
  margin-left: 50px;
}
.item:hover,
.item:focus {
  color: var(--activation-color);
}
.current {
  color: var(--activation-color);
}

/* hero */
/* временно */
.hero {
  text-align: center;
  background-color: #ccc;

  margin-bottom: var(--block-spacing);
}
/* временно */
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--white-text-color);
  background-color: var(--activation-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 216px;

  margin-top: 30px;
  padding: 11px 32px;
}
/* advantages */

.advantages-list {
  display: flex;
  margin-bottom: var(--block-spacing);
}
.advantages-sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* adv-text пропадает контент ???? */
.advantages-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}
/* work */
.work {
  text-align: center;
  margin-bottom: var(--block-spacing);
}

.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-item + .work-item {
  margin-left: 30px;
}

/* team */
.team {
  text-align: center;
  margin-bottom: var(--block-spacing);
}
.team-list {
  display: flex;
}
.team-list-item {
}
.team-list-item + .team-list-item {
  margin-left: 30px;
}
.team-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
}

.team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.font-style {
  font-style: normal;
}

/* logo */
.logo-footer-start {
  display: block;
  color: var(--activation-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 60px;
  margin-bottom: 20px;
}

.logo-footer-end {
  color: rgba(255, 255, 255, 1);
}

.item-footer {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-top: 9px;
  margin-bottom: 9px;
}

.item-footer:focus,
.item-footer:hover {
  color: var(--activation-color);
}
.adress-color {
  color: var(--white-text-color);
}

/* poftfolio */

/* .portfolio-page {
  margin-bottom: 174px;
  } */

/* ВОПРОС !?!??! */
/* Отступает но видет h2 */
/* filter */
.item-footer:last-child {
  padding-bottom: 60px;
  margin-bottom: 0;
}
.filter-list {
  display: flex;
  justify-content: center;
  /* ВРЕМЕННО */
  margin-top: 150px;
  /* ВРЕМЕННО */
  margin-bottom: 34px;
}

.filter-list .button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;
}

.filter-list .button:hover,
.filter-list .button:focus {
  color: var(--white-text-color);
  background-color: var(--activation-color);
}
/* cards */

.cards {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: var(--block-spacing);
}

.cards-item {
  outline: 1px solid red;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
}
.card-item-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* cancel margin */
.cards-item:nth-child(3n) {
  margin-right: 0;
}
.cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
