/* custom properties */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --activation-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-color-bg: #2f303a;
}

/* page */
body {
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 1);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding-inline-start: 0;
}

.hide-title {
  visibility: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 15px;
  padding-right: 15px; */
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--activation-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-top: 24px;
  margin-bottom: 25px;
}
.logo-head {
  color: rgba(33, 33, 33, 1);
}

/* site-nav */

.site-nav .link {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-top: 32px;
  margin-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--activation-color);
}
.site-nav .link.current {
  color: var(--activation-color);
}

/* auth-nav */
.auth-nav .link {
  display: inline-block;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-top: 32px;
  margin-bottom: 32px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--activation-color);
}

/* hero */
.hero {
  text-align: center;
  /* Временно */
  background-color: var(--footer-color-bg);
  /*  */
}
.hero .hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .hero-button {
  color: var(--white-text-color);
  background-color: var(--activation-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  margin-top: 30px;
  padding: 11px 32px;
}

/* our advantages */
.our-advantages {
  margin-top: 94px;
}
.our-advantages .sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.our-advantages .text {
  color: var(--secondary-text-color);
  line-height: 1.71;

  margin-top: 10px;
}

/* our-work */
.our-work .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 94px;
}
.our-work .img {
  margin-top: 50px;
}

/* our-team */
.our-team {
  margin-top: 94px;
  background-color: var(--secondary-background-color);
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  padding-top: 94px;
}
.our-team-box {
  margin-top: 50px;
}
.our-team .sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;

  margin-top: 30px;
}

.our-team .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  text-align: center;

  margin-top: 10px;
}

/* footer */
.site-footer {
  background-color: var(--footer-color-bg);
}
/* Logo footer*/
.logo.logo-footer {
  margin-top: 60px;
  margin-bottom: 0;
}
.logo-foot {
  color: rgba(255, 255, 255, 1);
  margin-top: 60px;
}

.site-footer .color-adress {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;

  margin-top: 20px;
}
.site-footer .link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-end-space {
  display: inline-block;
  margin-bottom: 60px;
}

.site-footer .link:hover,
.site-footer .link:focus {
  color: var(--activation-color);
}

/* end index.html */

/* ------------------start portfolio------------------ */

/* sub-navi */
.work-examples .button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.work-examples .button:focus,
.work-examples .button:hover {
  color: var(--white-text-color);
  background-color: var(--activation-color);
}

/* work-examples */
.work-examples a {
  text-decoration: none;
}
.work-examples .sub-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-examples .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
